.tabs-wrapper {
  padding: 30px 0 0;
}

.tabs-label {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.settings-icon {
  color: var(--base-white);
}

.dark-tab-text {
  color: var(--base-white);
}

.light-tab-text {
  color: red;
}

.dropdown {
  background-color: inherit;
  border: none;
  color: var(--base-white);
}

.dropdown-text {
  color: var(--base-white);
}

.attention-text {
  color: var(--modal-attention-text);
}

.divider {
  border: .5px solid var(--base-white-02);
}

.switcher {
  div {
    border-radius: 50%;
  }
}