@import '../../../../_design/dark-template-color-scheme';

.tabs-wrapper {
  padding: 30px 0 0;
}

.tabs-label {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.settings-icon {
  color: $base-white;
}

.dark-tab-text {
  color: $base-white;
}

.light-tab-text {
  color: red;
}

.dropdown {
  background-color: inherit;
  border: none;
  color: $base-white;
}

.dropdown-text {
  color: $base-white;
}

.divider {
  border: .5px solid $base-white-02;
}

.switcher {
  div {
    border-radius: 50%;
  }
}