.request-input {
  text-decoration: none;
  border: 0.5px solid var(--workspace-input-border-color);
  resize: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 16px;
  font-size: 1rem;
  line-height: 1.5rem;
  background-color: var(--workspace-input-background-color);
  color: var(--workspace-input-text-color);
  border-radius: 0.75rem;
  box-shadow: var(--workspace-input-shadow);
}

.request-input::placeholder {
  color: var(--workspace-input-placeholder-color);
}

.input-wrapper {
  width: 65%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  position: relative;
}

%send-button {
  width: 1.1rem;
  position: relative;
  left: -45px;
  padding: 9px;
  border-radius: .375rem;
  transition: 0.3s;
}

.send-button-inactive {
  @extend %send-button;
  fill: var(--button-inactive-color);
}

.send-button-active {
  @extend %send-button;
  background-color: var(--send-button-background);
  fill: var(--button-text-color);
  cursor: pointer;
}