@import "src/_design/dark-template-color-scheme";

.workspace {
  max-width: 100%;
  width: 100%;
  height: 100%;
  background-color: $dark-work-space-background-color;
  color: rgba(86,88,105,1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}