.annotation {
  color: var(--annotation-text-color);
  font-size: .75rem;
  line-height: 1rem;
}

.heart {
  width: .75rem;
  margin: 0 .4rem 0 .4rem;
}

.link-to-git {
  margin-left: .4rem;
  color: var(--annotation-text-color);
}