@import '../../../../_design/dark-template-color-scheme';

.annotation {
  color: $annotation-text-color;
  font-size: .75rem;
  line-height: 1rem;
}

.heart {
  width: .75rem;
  margin: 0 .4rem 0 .4rem;
}

.link-to-git {
  margin-left: .4rem;
  color: $annotation-text-color;
}