@import "../../_design/dark-template-color-scheme";
@import "../../_design/light-template-color-scheme";

.dark-sidebar {
    background-color: $dark-sidebar-background-color;
    color: $dark-sidebar-text-color;
    padding: 0.5rem;
    width: calc(100vw / 4);
    height: 100%;
    position: relative;
    box-sizing: border-box;
}

.light-sidebar {
    background-color: $light-sidebar-background-color;
    color: $light-sidebar-text-color;
    padding: 0.5rem;
    width: calc(100vw / 4);
    height: 100%;
    position: relative;
    box-sizing: border-box;
}