.settings-panel {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-top: 1px solid var(--sidebar-border-color);
  background-color: inherit;
  box-sizing: border-box;
  gap: 0.75rem;
}

.settings-panel-text {
  font-weight: 700;
  font-size: .875rem;
  line-height: 1.25rem;
}

.gpt-icon {
  border-radius: 0.125rem;
  width: 36px;
}

.more-icon {
  cursor: pointer;
  color: var(--sidebar-more-icon-color);
}

.dropdown {
  ul, li {
    background-color: var(--sidebar-dropdown-background-color) !important;

    span {
      color: var(--base-white);
    }
  }

  li:hover {
    background-color: var(--sidebar-dropdown-hover-background-color) !important;
  }
}

.settings-item-wrapper {
  display: flex;
  align-items: center;
  gap: .75rem;
}

.tabs-wrapper {
  padding: 30px 0 0;
}

.tabs-label {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.tabs-label-active {
  background-color: #0ba37f !important;
}

.dropdown-text {
  color: var(--base-white);
}


.modal {
  width: 50vw !important;

  .ant-modal-content {
    height: 40vh;
  }

  .ant-modal-content {
    background-color: var(--modal-background-color);
    color: var(--modal-text-color);

    .ant-modal-title {
      background-color: var(--modal-background-color);
      color: var(--modal-header-text-color) !important;
    }

    .ant-modal-close-icon {
      color: var(--modal-text-color);
    }

    .ant-tabs-tab {
      margin-right: 10px !important;
    }

    .ant-tabs-tab-active {
      background-color: var(--modal-tabs-active-background-color);
      border-radius: .375rem;
    }

    .ant-tabs-tab article {
      color: var(--modal-tabs-inactive-text-color);
    }

    .ant-tabs-tab-active article {
      color: var(--modal-tabs-active-text-color);
    }

    .ant-tabs-tab svg {
      stroke: var(--modal-tabs-inactive-text-color);
    }

    .ant-tabs-tab .data-controls svg {
      fill: var(--modal-tabs-inactive-icon-color);
    }

    .ant-tabs-tab-active svg {
      stroke: var(--modal-tabs-active-text-color);
    }

    .ant-tabs-tab-active .data-controls svg {
      fill: var(--modal-tabs-active-text-color);
    }

    .ant-tabs-ink-bar {
      background-color: var(--modal-tabs-slide-bar-color);
    }

    .anticon-down {
      color: var(--modal-tabs-down-icon-color);
    }

    .dropdown article, .anticon-down svg {
      color: var(--modal-tabs-down-icon-color);
      fill: var(--modal-tabs-down-icon-color);
    }

    .dropdown:hover {
      background-color: var(--modal-tabs-dropdown-hover-color);
    }

    .ant-btn-dangerous {
      background-color: var(--modal-button-danger-background-color);
      border-radius: .25rem;

      span {
        color: var(--modal-button-danger-text-color);
      }
    }

    .ant-btn-dangerous:hover {
      background-color: var(--modal-button-danger-hover-background-color) !important;
    }

    .ant-tabs-content * {
      color: var(--modal-text-color);
    }

    .ant-tabs-content-holder {
      color: var(--modal-text-color);
    }

    .ant-switch {
      background-color: var(--modal-switch-background-color);
    }

    .ant-switch-checked, .ant-switch-checked:hover {
      background-color: var(--modal-switch-checked-background-color);
    }

    .ant-divider {
      border: 0.2px solid var(--modal-divider-color);
    }
  }
}
