$light-loader-color: #565869;

$base-white: rgb(255, 255, 255);
$base-white-02: rgba(255, 255, 255, 0.2);
$base-dark: #202123;

$light-sidebar-background-color: $base-dark;
$light-sidebar-text-color: $base-white;
$light-sidebar-border-color: hsla(0,0%,100%,.2);
$light-sidebar-element-hover: HSL(225, 4%, 17%);
$light-sidebar-active-saved-messages-background-color: HSL(235, 11%, 22%);
$light-sidebar-icons-inactive-color: HSL(240, 12%, 79%);
$light-sidebar-icons-active-color: $base-white;
$light-sidebar-saved-messages-hover-color: RGB(42, 43, 50);
$light-sidebar-more-icon-color: #8e8e9f;
$light-sidebar-dropdown-background-color: #050509;
$light-sidebar-dropdown-hover-background-color: $light-sidebar-active-saved-messages-background-color;

$light-work-space-background-color: $light-sidebar-active-saved-messages-background-color;
$light-work-space-answer-background-color: #444654;
$light-work-space-text-color: #ececf1;
$light-work-space-icons-color: #acacbd;
$light-work-space-name-of-chat-text-color: #d9d9e3;
$light-work-space-name-of-chat-text-background-color: $light-sidebar-saved-messages-hover-color;
$light-work-space-first-gpt-text: rgba(86,88,105,1);
$light-work-space-input-background-color: #40414f;
$light-work-space-input-placeholder-color: $light-sidebar-more-icon-color;
$light-work-space-input-text-color: $base-white;

$light-error-border-color: #acacbd;
$light-error-background-color: #554654;
$light-error-text-color: $light-work-space-text-color;

$light-send-button-background: #1bc37d;
$light-button-background-color: #0ba37f;
$light-button-text-color: $base-white;
$light-button-inactive-color: #585961;

$light-annotation-text-color: $light-sidebar-icons-inactive-color;